Repository Idaht/GIDD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_a, trigger_b

trigger_a:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml

trigger_b:
  stage: triggers
  trigger:
    include: backend/.gitlab-ci.yml
  -only:
  - dev
  - master

feat(CI): Only run CI on merge_requests
  .gitlab-ci.yml
Due: none

hotfix(CI): Rename jobs in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Added base for merge request templates, and feature frontend template
  .gitlab/merge_request_templates/featureFrontend.md
Due: none

bugfix(CI): Remove only tag
  .gitlab-ci.yml
Due: none

Updated feature front end checklis, and created hotfix template
  .gitlab/merge_request_templates/hotfix.md
Due: none

feat(CI): Add template for features in backend
  .gitlab/merge_request_templates/featureBackend.md
Due: none

Modified templates, added more requirements
  .gitlab/merge_request_templates/featureFrontend.md
  .gitlab/merge_request_templates/hotfix.md
Due: none

feat(base): Base of project created
  .gitlab-ci.yml
  .gitlab/merge_request_templates/featureBackend.md
  .gitlab/merge_request_templates/featureFrontend.md
  .gitlab/merge_request_templates/hotfix.md
Due: none

bugfix(CI): Tested and working CI
  .gitlab-ci.yml
Due: none

feat(templates): Add bugfix template. Adjuest other templates
  .gitlab/merge_request_templates/bugfix.md
  .gitlab/merge_request_templates/featureBackend.md
  .gitlab/merge_request_templates/featureFrontend.md
  .gitlab/merge_request_templates/hotfix.md
Due: none

templates
  .gitlab-ci.yml
  .gitlab/merge_request_templates/bugfix.md
  .gitlab/merge_request_templates/featureBackend.md
  .gitlab/merge_request_templates/featureFrontend.md
  .gitlab/merge_request_templates/hotfix.md
Due: none

feat(backend): Create spring boot initialize
  .gitignore
  backend/.gitlab-ci.yml
  backend/.mvn/wrapper/MavenWrapperDownloader.java
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/idatt2106/group3/backend/BackendApplicationTests.java
Due: trigger_b

Lagd shell av backend
  backend/src/main/java/idatt2106/group3/backend/Repository/ActivityRepository.java
  backend/src/main/java/idatt2106/group3/backend/Repository/ChatRepository.java
  backend/src/main/java/idatt2106/group3/backend/Repository/MessageRepository.java
  backend/src/main/java/idatt2106/group3/backend/Repository/SessionRepository.java
  backend/src/main/java/idatt2106/group3/backend/Repository/UserRepository.java
  backend/src/main/java/idatt2106/group3/backend/Service/ActivityService.java
  backend/src/main/java/idatt2106/group3/backend/Service/ChatService.java
  backend/src/main/java/idatt2106/group3/backend/Service/MessageService.java
  backend/src/main/java/idatt2106/group3/backend/Service/SessionService.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserService.java
  backend/src/main/java/idatt2106/group3/backend/Web/ActivityController.java
  backend/src/main/java/idatt2106/group3/backend/Web/ChatController.java
  backend/src/main/java/idatt2106/group3/backend/Web/SessionController.java
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
Due: none

Added base for vue project
  frontend/.browserslistrc
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/README.md
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/logo.png
  frontend/src/components/HelloWorld.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/shims-vue.d.ts
  frontend/src/store/index.ts
  frontend/src/views/About.vue
  frontend/src/views/Home.vue
  frontend/tests/unit/example.spec.ts
  frontend/tsconfig.json
Due: trigger_a

Feat/create entity
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/java/idatt2106/group3/backend/Model/Chat.java
  backend/src/main/java/idatt2106/group3/backend/Model/Feedback.java
  backend/src/main/java/idatt2106/group3/backend/Model/Message.java
  backend/src/main/java/idatt2106/group3/backend/Model/Report.java
  backend/src/main/java/idatt2106/group3/backend/Model/Session.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
Due: none

feat(repository): create repository
  backend/src/main/java/idatt2106/group3/backend/Repository/ActivityRepository.java
  backend/src/main/java/idatt2106/group3/backend/Repository/ChatRepository.java
  backend/src/main/java/idatt2106/group3/backend/Repository/MessageRepository.java
  backend/src/main/java/idatt2106/group3/backend/Repository/SessionRepository.java
  backend/src/main/java/idatt2106/group3/backend/Repository/UserRepository.java
Due: none

hotfix(entity): fix constructors, getters and setters
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/java/idatt2106/group3/backend/Model/Chat.java
  backend/src/main/java/idatt2106/group3/backend/Model/Message.java
  backend/src/main/java/idatt2106/group3/backend/Model/Session.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
Due: none

feat(entity): add user message relation
  backend/src/main/java/idatt2106/group3/backend/Model/Message.java
  backend/src/main/java/idatt2106/group3/backend/Model/Report.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
Due: none

Updated ci file. Trying to see contents of package.json to see if that hinders npm from installing vue
  frontend/.gitlab-ci.yml
  frontend/package.json
  frontend/tests/unit/example.spec.ts
  frontend/tests/unit/utils/factory.ts
Due: trigger_a

hotfix(entity): fix constructors, getters and setters for user, message and report entities
  backend/src/main/java/idatt2106/group3/backend/Model/Message.java
  backend/src/main/java/idatt2106/group3/backend/Model/Report.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
Due: none

bugfix(CI):Fix changes problem, add dependecies betweem child and parent pipelines, and remove branch pipeline bug
  .gitlab-ci.yml
Due: none

feat(login): Created basic log in page logic
  frontend/src/router/index.ts
  frontend/src/views/LogIn.vue
Due: none

feat(entity): add extra constructor in entities
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/java/idatt2106/group3/backend/Model/Message.java
  backend/src/main/java/idatt2106/group3/backend/Model/Report.java
  backend/src/main/java/idatt2106/group3/backend/Model/Session.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
Due: none

hotfix(entities): Add eager fetching between many to many relationship
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
Due: none

Hotfix/activity difficulty enum
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/java/idatt2106/group3/backend/Model/Difficulty.java
Due: none

bugfix(entity): add updatable and insertable false annotations in report entity class
  backend/src/main/java/idatt2106/group3/backend/Model/Report.java
Due: none

config(prettier): Configed prettier file for frontend project.
  frontend/.prettierrc
  frontend/package.json
Due: trigger_a

Feat/create controllers
  backend/src/main/java/idatt2106/group3/backend/Service/ActivityService.java
  backend/src/main/java/idatt2106/group3/backend/Service/ChatService.java
  backend/src/main/java/idatt2106/group3/backend/Service/MessageService.java
  backend/src/main/java/idatt2106/group3/backend/Service/SessionService.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserService.java
  backend/src/main/java/idatt2106/group3/backend/Web/ActivityController.java
  backend/src/main/java/idatt2106/group3/backend/Web/ChatController.java
  backend/src/main/java/idatt2106/group3/backend/Web/SessionController.java
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
Due: none

feat(DB): Setup MySQL database
  .gitignore
  backend/pom.xml
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/SourceData.java
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/resources/application.properties
Due: trigger_b

La til global CSS i App.vue
  frontend/package-lock.json
  frontend/src/App.vue
Due: trigger_a

Added computed property
  frontend/src/views/LogIn.vue
Due: none

feat(https): create makefile
  backend/makefile
  backend/src/main/java/idatt2106/group3/backend/Security/SecurityConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/keystore/gruppe3.p12
  backend/src/test/java/idatt2106/group3/backend/HttpsTest.java
Due: trigger_b

feat(https): comment out unnecessary method
  backend/src/test/java/idatt2106/group3/backend/HttpsTest.java
Due: none

feat(https): add to .gitignore
  .gitignore
Due: none

Added changes to button
  frontend/src/App.vue
Due: none

Second bugfix
  frontend/.gitignore
  frontend/src/views/LogIn.vue
Due: trigger_a

Bugfix/service get one
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Service/ActivityService.java
  backend/src/main/java/idatt2106/group3/backend/Service/ChatService.java
  backend/src/main/java/idatt2106/group3/backend/Service/SessionService.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserService.java
Due: none

feat(global-css-edit): Added global CSS to Vue.app
  frontend/src/App.vue
  frontend/src/views/LogIn.vue
Due: none

Path conditions:
  trigger_a: any of: frontend/**
  trigger_b: any of: backend/**
