Repository Idaht/GIDD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_frontend, trigger_backend

.gitlab-ci.yml:

stages:
  - triggers

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
    - if:  $CI_MERGE_REQUEST
    - when: never

trigger_frontend:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml
  rules:
    - changes:
      - frontend/**

trigger_backend:
  stage: triggers
  trigger:
    include: backend/.gitlab-ci.yml
  rules:
    - changes:
      - backend/**

Skrevet tester for ActivityController og UserController, og satt opp testklasser for Session og Chat
  backend/pom.xml
  backend/src/main/java/idatt2106/group3/backend/Web/ActivityController.java
  backend/src/test/java/idatt2106/group3/backend/Web/ActivityControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/ChatControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/SessionControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/UserControllerTest.java
Due: trigger_backend

Justerte elementene og oppdaterte css i LogIn.vue
  frontend/src/views/LogIn.vue
Due: none

Skrevet tester for ActivityController og UserController, og satt opp testklasser for Session og Chat
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
Due: none

feat(https): fix wrong ports
  .gitignore
  backend/src/main/java/idatt2106/group3/backend/Configuration/ServerConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/keystore/gruppe3.p12
Due: none

feat(CI): Run maven tests during CI
  backend/.gitlab-ci.yml
  backend/src/main/java/idatt2106/group3/backend/Configuration/SourceData.java
  backend/src/main/resources/application.properties
  backend/src/test/java/idatt2106/group3/backend/BackendApplicationTests.java
  backend/src/test/java/idatt2106/group3/backend/Web/ActivityControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/ChatControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/SessionControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/UserControllerTest.java
Due: trigger_backend

Feat (header): Made header and sidemenu (typescript logic)
  frontend/.eslintrc.js
  frontend/img/logo.png
  frontend/img/menu.png
  frontend/src/App.vue
  frontend/src/components/TheHeader.vue
  frontend/src/interface/menuOption.interface.ts
  frontend/tests/unit/TheHeaderTest.spec.ts
Due: trigger_frontend

feat(https): automate generation of keystore when running spring-boot backend program
  backend/makefile
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/ServerConfig.java
  backend/src/main/resources/keystore/gruppe3.p12
Due: trigger_backend

toString() i entityklassene
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/java/idatt2106/group3/backend/Model/Chat.java
  backend/src/main/java/idatt2106/group3/backend/Model/Feedback.java
  backend/src/main/java/idatt2106/group3/backend/Model/Report.java
  backend/src/main/java/idatt2106/group3/backend/Model/Session.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
Due: none

feat(https): modify makefile to add certificate to jre
  backend/makefile
  backend/src/main/resources/keystore/giddCertificate.crt
  backend/src/main/resources/keystore/gruppe3.p12
Due: trigger_backend

laget tester i UserServiceTest og opprettet Test klasser for Activity-, Chat-, Message- og SessionServiceTest også
  backend/src/main/java/idatt2106/group3/backend/Service/ActivityService.java
  backend/src/main/java/idatt2106/group3/backend/Service/ChatService.java
  backend/src/main/java/idatt2106/group3/backend/Service/MessageService.java
  backend/src/main/java/idatt2106/group3/backend/Service/SessionService.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserService.java
  backend/src/main/java/idatt2106/group3/backend/Web/SessionController.java
  backend/src/test/java/idatt2106/group3/backend/Service/ActivityServiceTest.java
  backend/src/test/java/idatt2106/group3/backend/Service/ChatServiceTest.java
  backend/src/test/java/idatt2106/group3/backend/Service/MessageServiceTest.java
  backend/src/test/java/idatt2106/group3/backend/Service/SessionServiceTest.java
  backend/src/test/java/idatt2106/group3/backend/Service/UserServiceTest.java
  frontend/.gitignore
Due: trigger_frontend

feat(https): change ports to work well with routing
  backend/src/main/java/idatt2106/group3/backend/Configuration/ServerConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/keystore/giddCertificate.crt
  backend/src/main/resources/keystore/gruppe3.p12
Due: none

feat(https): quick fix
  backend/src/main/resources/keystore/giddCertificate.crt
  backend/src/main/resources/keystore/gruppe3.p12
Due: none

Bugfix/fix controller returns
  backend/pom.xml
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/java/idatt2106/group3/backend/Service/ActivityService.java
  backend/src/main/java/idatt2106/group3/backend/Web/ActivityController.java
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
Due: trigger_backend

feat(service): add user to activity
  backend/src/main/java/idatt2106/group3/backend/Service/UserService.java
Due: none

tester
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
  backend/src/test/java/idatt2106/group3/backend/Web/ActivityControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/ChatControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/SessionControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/UserControllerTest.java
Due: none

Feat/setup logger
  .gitignore
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Service/ActivityService.java
  backend/src/main/java/idatt2106/group3/backend/Service/ChatService.java
  backend/src/main/java/idatt2106/group3/backend/Service/MessageService.java
  backend/src/main/java/idatt2106/group3/backend/Service/SessionService.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserService.java
  backend/src/main/java/idatt2106/group3/backend/Web/ChatController.java
  backend/src/main/java/idatt2106/group3/backend/Web/SessionController.java
Due: none

feat(router-link-css): Styling a router-link button
  frontend/src/App.vue
Due: none

feat(https): merge with current changes
  backend/pom.xml
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Model/Activity.java
  backend/src/main/java/idatt2106/group3/backend/Service/ActivityService.java
  backend/src/main/java/idatt2106/group3/backend/Service/ChatService.java
  backend/src/main/java/idatt2106/group3/backend/Service/MessageService.java
  backend/src/main/java/idatt2106/group3/backend/Service/SessionService.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserService.java
  backend/src/main/java/idatt2106/group3/backend/Web/ActivityController.java
  backend/src/main/java/idatt2106/group3/backend/Web/ChatController.java
  backend/src/main/java/idatt2106/group3/backend/Web/SessionController.java
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
  backend/src/main/resources/keystore/giddCertificate.crt
  backend/src/main/resources/keystore/gruppe3.p12
  backend/src/test/java/idatt2106/group3/backend/Web/ActivityControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/ChatControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/SessionControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/UserControllerTest.java
  frontend/src/App.vue
Due: trigger_backend

hotfix(remove-username): Remove username and all usecases
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
  backend/src/test/java/idatt2106/group3/backend/Service/ActivityServiceTest.java
  backend/src/test/java/idatt2106/group3/backend/Service/UserServiceTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/ActivityControllerTest.java
  backend/src/test/java/idatt2106/group3/backend/Web/UserControllerTest.java
Due: none

hotfix(controller): delete unused code lines
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
Due: none

feat(https): add pom.xml dependency
  backend/pom.xml
Due: trigger_backend

feat(CORS): Add cors to localhost:3000
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
Due: none

Added styling to header and menu
  frontend/img/logo.png
  frontend/src/App.vue
  frontend/src/components/TheHeader.vue
Due: none

feat(backend-logging): Add file logging backend
  .gitignore
  backend/src/main/resources/application.properties
Due: none

feat(https): remove private files from merge request
  backend/src/main/resources/keystore/giddCertificate.crt
  backend/src/main/resources/keystore/gruppe3.p12
Due: none

feat(NotFoundPage): Created a not found page, and made router redirect all unknown URLs to that page
  frontend/src/router/index.ts
  frontend/src/views/PageNotFound.vue
Due: none

Feat/setup cors
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/CORSConfiguration.java
Due: none

Feat/aktivitets feed
  frontend/package.json
  frontend/src/components/ActivityFeedItem.vue
  frontend/src/interfaces/IActivity.interface.ts
  frontend/src/router/index.ts
  frontend/src/views/ActivityFeed.vue
Due: trigger_frontend

Feat/hashing salting 2
  backend/pom.xml
  backend/src/main/java/idatt2106/group3/backend/BackendApplication.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/Jwt/JwtSigningKey.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/Jwt/JwtTokenVerifier.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/Jwt/JwtUsernameAndPasswordAuthenticationFilter.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/Jwt/UsernameAndPasswordAuthenticationRequest.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/Security/PasswordConfig.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/Security/WebSecurityConfiguration.java
  backend/src/main/java/idatt2106/group3/backend/Model/User.java
  backend/src/main/java/idatt2106/group3/backend/Model/UserPasswordDTO.java
  backend/src/main/java/idatt2106/group3/backend/Model/UserSecurityDetails.java
  backend/src/main/java/idatt2106/group3/backend/Repository/UserRepository.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserSecurityDetailsService.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserService.java
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
  backend/src/test/java/idatt2106/group3/backend/Service/UserServiceTest.java
Due: trigger_backend

hotfix(controller): change requestMapping to getMapping in controllers
  .gitignore
  backend/src/main/java/idatt2106/group3/backend/Web/ChatController.java
  backend/src/main/java/idatt2106/group3/backend/Web/SessionController.java
Due: none

Feat/get chat activity controller
  backend/src/main/java/idatt2106/group3/backend/Web/ActivityController.java
  backend/src/main/java/idatt2106/group3/backend/Web/ChatController.java
  backend/src/main/java/idatt2106/group3/backend/Web/SessionController.java
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
Due: none

Feat (edit profile): Made edit profile page
  frontend/src/components/TheHeader.vue
  frontend/src/router/index.ts
  frontend/src/views/EditProfile.vue
  frontend/src/views/LogIn.vue
Due: none

Feat (make activity page): Made base activitiy (information) page
  frontend/src/router/index.ts
  frontend/src/views/ActivityInformation.vue
  frontend/tests/unit/AcitvityInformationTest.spec.ts
Due: none

hotfix(test): Remove security when running tests
  backend/src/main/java/idatt2106/group3/backend/Configuration/Security/WebSecurityConfiguration.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/Security/WebSecurityConfigurationDisabled.java
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
  backend/src/test/java/idatt2106/group3/backend/Web/UserControllerTest.java
Due: none

feat(DTO): lage UserDTO klasse
  backend/src/main/java/idatt2106/group3/backend/Model/DTO/UserDTO.java
  backend/src/main/java/idatt2106/group3/backend/Model/DTO/UserPasswordDTO.java
  backend/src/main/java/idatt2106/group3/backend/Service/ActivityService.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserSecurityDetailsService.java
  backend/src/main/java/idatt2106/group3/backend/Service/UserService.java
  backend/src/main/java/idatt2106/group3/backend/Web/ActivityController.java
  backend/src/main/java/idatt2106/group3/backend/Web/UserController.java
  backend/src/test/java/idatt2106/group3/backend/Service/UserServiceTest.java
Due: none

Added vuex for authetication, added router redirect on not logged in, added middleware for axios to intercept responses to hinder unauthorized access
  frontend/package-lock.json
  frontend/src/App.vue
  frontend/src/axiosConfig.ts
  frontend/src/components/ActivityFeedItem.vue
  frontend/src/components/TheHeader.vue
  frontend/src/enums/BackendStatus.enum.ts
  frontend/src/interfaces/IActivity.interface.ts
  frontend/src/interfaces/MenuOption.interface.ts
  frontend/src/interfaces/User/LoginUser.interface.ts
  frontend/src/interfaces/User/User.interface.ts
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/shims-vuex.d.ts
  frontend/src/store/index.ts
  frontend/src/views/ActivityFeed.vue
  frontend/src/views/LogIn.vue
Due: trigger_frontend

feat(https): moved WebSecurityMethod configure to one class
  backend/pom.xml
  backend/src/main/java/idatt2106/group3/backend/Configuration/Security/WebSecurityConfiguration.java
  backend/src/main/java/idatt2106/group3/backend/Security/SecurityConfig.java
Due: trigger_backend

Removed test changes
  backend/src/main/java/idatt2106/group3/backend/Configuration/Jwt/JwtUsernameAndPasswordAuthenticationFilter.java
  backend/src/main/java/idatt2106/group3/backend/Configuration/Security/WebSecurityConfiguration.java
Due: none

bugfix(authorization): Had to add token before sending request for user on login and register
  frontend/src/store/index.ts
Due: none

Remove testfiles
  backend/src/main/java/idatt2106/group3/backend/Model/Chat.java
  backend/src/main/java/idatt2106/group3/backend/Model/Message.java
Due: none
